*{
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #77a1d3, #79cbca, #e684ae);
    background-size: cover;
}

/**creando el menu*/ 
header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    display: inline-block;
    width: 100vw;
    border-bottom: 3px solid rgb(118, 9, 9);
  }
  .contenedor img {
    width: 120px;
    margin: 15px 35px;
    /*posiciona la imagen a la izquierda*/
    float: left;
    filter: drop-shadow(3px 3px 6px #25fe1a);
    transition: 1s;
  }
  .contenedor img:hover {
    filter: brightness(80) drop-shadow(3px 3px 6px #102210);
  }
  
  nav ul li {
    /*?esto le quita los puntos que estan al inicio de cada enlace o lista*/
    list-style: none;
    /*esto es para que los enlaces queden uno al lado del otro como inline*/
    float: left;
    margin: 10px auto;
    position: relative;
    color: #40eb0c;
  }
  li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    text-shadow: 2px 2px 4px #0f63f3, 2px 2px 4px #005eff, 2px 2px 4px #1a63e0;
    /* coloca el texto en mayuscula*/
    text-transform: uppercase;
    margin-right: 20px;
    transition: 0.2s;
    padding: 7px;
  }
  li a:hover {
    border-radius: 15px;
    background: linear-gradient(to left, transparent, rgb(2, 62, 94));
    border: 2px solid rgb(12, 174, 228);
  }
  nav {
    /*posiciona los enlaces a la derecha*/
    float: right;
  }

h1{
    margin-top: 100px ;
    color: rgb(172, 255, 48);
    text-align: center;
}